{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plus & Min</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
</head>
<body>
        <nav>
            <div class="logo"><h1>PLUS&MIN</h1></div>
            <div class="openMenu"><i class="fa fa-bars"></i></div>
            <ul class="mainMenu">
                <li><a href="index.html">Plus & min </a></li>
                <li><a href="page2.html">grafiek</a></li>
                
                <div class="closeMenu"><i class="fa fa-times"></i></div>
                
                </span>
            </ul>
        </nav>
        <div class="button-container-wrapper">
            <div class="container">
                <button id="lucas-plus" class="myButton">Plusje Lucas</button>
                <button id="lucas-min" class="myButton2">Minnetje Lucas</button>
            </div>
            <div class="container">
                <button id="anna-plus" class="myButton">Plusje Anna</button>
                <button id="anna-min" class="myButton2">Minnetje Anna</button>
            </div>
            <div class="container">
                <button id="elisa-plus" class="myButton">Plusje Elisa</button>
                <button id="elisa-min" class="myButton2">Minnetje Elisa</button>
            </div>
        </div>
        


    <script src={% static "js/app.js" %}></script>
</body>
</html>